{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}

	<h1>Nos produits phares</h1>

	<div class="row">
		{% for product in products %}
			<div class="col">
				{% include "product/_product_card.html.twig" %}
			</div>
		{% endfor %}
	</div>

	<hr>

	<h2>Un service irréprochable</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati sit expedita dolorem illo nesciunt alias non similique explicabo ipsa.</p>

	<div class="row">
		{% include "shared/_assurance.html.twig" with {
            'color': 'success',
            'icon': 'fas fa-check',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, quisquam illo. Libero accusamus rem aspernatur."
        } %}

		{% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icon': 'fas fa-truck',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, quisquam illo. Libero accusamus rem aspernatur."
        } %}

		{% include "shared/_assurance.html.twig" with {
            'color': 'danger',
            'icon': 'fas fa-lock',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, quisquam illo. Libero accusamus rem aspernatur."
        } %}
	</div>

{% endblock %}
